<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<%-header%>

<body>
        <div id="first-body-div">
            
            <%-body%>
        </div>
</body>

<footer>
    <p> Developed by Herbert Hipólito - Access my github to more information</p>
</footer>

</html>